/* Types */
*,
::before,
::after {
    box-sizing: border-box;
}

* {
    /* outline: 1px solid red; */
    /* margin: 0;
    padding: 0; */
}

body{
    background-color: rgba(0, 0, 0, 0.699);
    font-family: verdana, sans-serif;
    color: white;
}

button {
    color: rgb(231, 177, 107);
    background-color: brown;
    font-weight:bold;
    font-size: 20px;
}
button:hover{
   background-color: rgba(96, 130, 243, 0.795);
}

/* Classes */
.banner{
    line-height: normal;
    margin-bottom: 15px;
    width: 100%;
    position: sticky;
    top: 0%;
}

.home,
.user-login,
.user-register,
.characters{
    text-align: center;
}

.home {
    float:left;
    margin-left: 10px;
}

.user {
    margin-right: 10px;
    float: right;
}

.end-of-split-screen {
    height: 1em;
    clear:both;
    border-bottom: 1px double rgb(231, 177, 107);
}


/* I should try to use less type selectors, see if there is a better alternative
 to using body, div and a,
 try not to use IDs unless it is something unique*/