/* Types */
*,
::before,
::after {
    box-sizing: border-box;
}

* {
    /* outline: 1px solid red; */
    /* margin: 0;
    padding: 0; */
}

a{
    width: fit-content;
}

body{
    background-color: rgb(82, 82, 82);
    font-family: verdana, sans-serif;
    color: white;
    margin-top: 0px;
}

button {
    color: rgb(231, 177, 107);
    background-color: brown;
    font-weight:bold;
    font-size: 20px;
}
button:hover{
   background-color: rgba(96, 130, 243, 0.795);
}

/* Classes */
.banner{
    width: 100%;
    position: sticky;
    top: 0%;
    display: inline-block;
    background-color: rgb(82, 82, 82);
    padding-top: 5px;
}

.home,
.user-login,
.user-register,
.characters{
    text-align: center;
}

.home {
    float:left;
    margin-left: 10px;
}

.user {
    margin-right: 10px;
    float: right;
}

.end-of-split-screen {
    height: 1em;
    clear:both;
    border-bottom: 1px double rgb(231, 177, 107);
}


/* I should try to use less type selectors, see if there is a better alternative
 to using body, div and a,
 try not to use IDs unless it is something unique*/